*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app {
    background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	/* margin: 20px 0 50px; */
}

.cadastro {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
    width: 40%;
    min-width: 482px;
    background: #102766;
	min-height: 1117px;
    padding: 70px 275px;
}

form {
    all: unset;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
    width: 40%;
    min-width:343px;
    min-height: 568px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 28.5px 50px;
    gap: 50px;
    border-radius: 12px;
}


.taskCreator input, .taskCreator select, .taskCreator textarea{
    all: unset;
    font-size: 17px;
    font-weight: 500;
    color: #545454;
    border-bottom: 1px solid #450B53;
    line-height: 22.5px;
}

::placeholder{
    font-size: 17px;
    font-weight: 500;
    color: #545454;
    line-height: 22.5px;
}


.formTitle{
    font-weight: 600;
    font-size: 26px;
    color: #343434;
    line-height: 22.5px;
    margin-bottom: 34px;
}

.formButton{
    background-color: #E84118;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    color: #FFFFFF;
    min-width: 287px;
    min-height: 52px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}


.lista {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
	flex-direction: column;
    width: 60%;
    min-width: 1246px;
    min-height: 1117px;
    background-color: #FFFFFF;
    padding: 47px 70px;
    gap: 28px;
    
}

.listTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    justify-self: flex-start;
    align-self: flex-start;
    color: #343434;
    margin-bottom: 22px;
}





.lista ul {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    gap: 10px;
    padding: 24px;
}

.listCard{
    width: 90%;
    border-radius: 12px;
    min-height: 110px;
    border: 1px solid #C7C4C4;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.taskListButtons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}


